.login {
  display: flex;
  height: 103vh;
  margin-top: -2rem;
  margin-left: -1rem;
  margin-right: -1rem;

  &-image {
    width: 100%;
    background: url("../../assets/images/LoginImage.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
