@import '../global/styles/colors.scss';

.navbar {
    background-color: $darkblue;
    
    
    &-items{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
}