@import '../../components/global/styles/colors.scss';

.signup {
  height: 100vh;
  margin: -1rem;
  padding: 1rem;
  width: 100%;
  background: url("../../assets/images/LoginImage.png") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;

  &-title {
    margin-top: auto;
    font-size: 2rem;
    font-weight: 800;
    padding-top: 4rem;
  }

  &-input{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;


    &-list{
      position: relative;

    
    }

    &-container{
      position: relative;
      width: 100%;
  
      &-icon{
        margin-top: 0.4rem;
        margin-right: 0.5rem;
        padding: 0.75rem 0;
        position: absolute;
        right: 0;
      }
    }
  }

  &-school{
    &-input-field{
      border-style: none;
      border-radius: 1rem;
      padding: 0.75rem 1rem;
      font-size: 1.25rem;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: $black;
      outline: none;

      &:focus,
      &:active{
        background-color: white;
      }

     &::placeholder{
            font-weight: 700;
            color: black;
     }
    }
    &-dropdown{
      position: absolute;
      background-color: white;
      color: black;
      width: 100%;
      z-index: 2;
      margin-top: -.75rem;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      text-align: left;

      &-option{
        font-size: 1.25rem;
        font-weight: 600;
        padding-left: 0.75rem;
        z-index: 2;
        &:hover{
          cursor: pointer;
          background-color: $aqua;
        }
      }
    }
  }

  &-dropdown{
    background-color: rgba(255, 255, 255, 0.9);
    color: $black;
    font-weight: 700;
    border-radius: 1rem;
    font-size: 1.25rem;
    width: 100%;
  

    &-divider {
      width: 70%;
      border: 0.7px solid $black;
    }


    &-role{
      &-selected{
        text-align: center;
        padding: 0.75rem 0;
      }

      &-expanded{
        padding: 0.75rem 0;
        padding-left: 1rem;
      }

      &-list{
        position: absolute;
        margin-top: -1.3rem;
        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        // border-top: 1px solid $black;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;


        &-option{
          padding-left: 1rem;
          height: 100%;

          &:hover{
            cursor: pointer;
            background-color: $aqua;
            // padding: 1rem;
          }

        }
      }
    }
  }

  .expanded {
    text-align: left;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }

  &-button{
    width: 100%;
    margin-top: 2rem;
  }

  &-additional-fields{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    

     >input {
        border-style: none;
        border-radius: 1rem;
        padding: 0.75rem 1rem;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        outline: none;
        color: $black;

        &::placeholder {
          font-size: 1rem;
          font-weight: 300;
        }
        &:focus,
        &:active{
          background-color: white;
        }
      }


    &-password{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: .5rem;

      >input {
        border-style: none;
        outline: none;
        border-radius: 1rem;
        padding: 0.75rem 1rem;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // font-weight: 700;
        color: $black;

        &::placeholder {
          font-size: 1rem;
          font-weight: 300;
        }
        &:focus,
        &:active{
          background-color: white;
        }
        
      }
    }
  }
}

.signup-buttons{
  &-container{
    margin-top: auto;
    margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
}
