@import '../../components/global/styles/colors.scss';

.users{
    overflow: scroll;
    height: 90%;

    &-container{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        &-add{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0;
            border-top: 1px solid $black;
            margin-top: 1rem;

            &-form{
                // max-width: 360px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                &-inputs{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: .1rem;
                    margin-bottom: 1rem;

                    input{
                        margin: .5rem 0;
                    }

                    &__role,
                    &__school{
                        margin-top: 1rem;
                    }

                    &__dropdowns{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                    &__search{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: 100%;
                        margin: 1rem 0;
                        width: 100%;

                        h3 {
                            margin-left: .5rem;
                        }
                        &-field{
                            display: flex;
                            gap: 1rem;
                        }

                        &-results{

                            &__user{

                                &__info{
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    gap: .5rem;
                                    margin-left: 1rem;
                                }
                            }
                        }
                    }

                }
            }

            button{
                border-radius: 0.5rem;
                background-color: $blue;
                padding: 0.5rem 1rem;
                border: none;
                color: #fff;
                font-weight: bold;
                font-size: 1rem;
                &:hover{
                    cursor: pointer;
                }
            }

            .active{
                background-color: $blue;
            }
            .disabled{
                background-color: $aqua;
                pointer-events: none;
            }
        }
    }
}